In [1]:
import pandas as pd
import numpy as np
import re

Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [2]:
def is_vowel(string):
    regex_vowel = r'[aeiou]'
    return bool(re.search(regex_vowel, string, re.IGNORECASE))

In [4]:
assert is_vowel('b') == False
assert is_vowel('A') == True

Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [7]:
def is_valid_username(string):
    regex_user = r'^[a-z][a-z0-9_]{,31}$'
    return bool(re.search(regex_user, string))

In [10]:
# verify the function works

username1 = 'capital_of_alaska_is_my_password'
is_valid_username(username1)
username2 = 'this_is_longer_than_thirtytwo_characters'
is_valid_username(username2)

False

Write a regular expression to capture phone numbers. It should match all of the following:


(210) 867 5309
+1 210.867.5309
867-5309
210-867-5309

In [12]:

phone_numbers = ['(210) 867 5309', '+1 210.867.5309','867-5309', '210-867-5309']

In [13]:

phones = pd.DataFrame()
phones['number'] = phone_numbers
regex = r'^(?P<country_code>\+\d+)?\D*(?P<area_code>\d{3})?\D*(?P<exchange_code>\d{3})\D*(?P<line_number>\d{4})\D*$'

In [14]:
phones.number.str.extract(regex)

  country_code area_code exchange_code line_number
0          NaN       210           867        5309
1           +1       210           867        5309
2          NaN       NaN           867        5309
3          NaN       210           867        5309

Use regular expressions to convert the dates below to the standardized year-month-day format.


02/04/19
02/05/19
02/06/19
02/07/19
02/08/19
02/09/19
02/10/19

In [15]:
date_list = [
    '02/04/19',
    '02/05/19',
    '02/06/19',
    '02/07/19',
    '02/08/19',
    '02/09/19',
    '02/10/19'
]

In [16]:
date_reg = r'(\d+)/(\d+)/(\d+)'

# check regexp works
re.sub(date_reg, r'20\3-\1-\2',date_list[2])

'2019-02-06'

In [17]:
'2019-02-06'
# apply to all dates in list

[re.sub(date_reg, r'20\3-\1-\2',date) for date in date_list]

['2019-02-04',
 '2019-02-05',
 '2019-02-06',
 '2019-02-07',
 '2019-02-08',
 '2019-02-09',
 '2019-02-10']

Write a regex to extract the various parts of these logfile lines:


GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [ ]:
lines = """
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58
"""

In [ ]:
regexp = r'''
^
(?P<method>GET|POST)
\s
(?P<path>/[/\w\-\?=]+)
\s
\[(?P<timestamp>.+)\]
\s
(?P<http_version>HTTP/\d+\.\d+)
\s
\{(?P<status_code>\d+)\}
\s
(?P<bytes>\d+)
\s
"(?P<user_agent>.+)"
\s
(?P<ip>\d+\.\d+\.\d+\.\d+)
$
'''

In [ ]:
regex = r'(?P<method>GET|POST)\s(?P<path>/[/\w\-\?=]+)\s\[(?P<timestamp>.+)\]\s(?P<http_version>HTTP/\d+\.\d+)\s\{(?P<status_code>\d+)\}\s(?P<bytes>\d+)\s"(?P<user_agent>.+)"\s(?P<ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})$'
regex = re.compile(regex, re.VERBOSE)

lines = pd.Series(logfiles.strip().split('\n'))
lines.str.extract(regex)